.modal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background: rgba(224, 230, 236, 0.9);
    z-index: 99;
}

.modal-content {
    width: fit-content;
    position: relative;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    position: absolute;
    right: -33px;
    top: -33px;
    transition: all 1s ease-out;
    cursor: pointer;
    color: #73f5e1;
    border: 2px solid #73f5e1;
    border-radius: 30px;
    transition: all .5s;
}

.close-modal:hover {
    color: #aaa6ff;
    border: 2px solid #aaa6ff;
    transform: rotate(180deg);
}