.video-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-bottom: 5px;
}

.video-stream {
    position: relative;
    min-width: 500px;
    width: 100%;
}

.myvideo {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.resize-video {
    width: 220px;
    height: auto;
}

.user-stream {
    min-width: 600px;
    max-width: 900px;
    width: 100%;
}

.uservideo {
    margin-left: 20px;
    border-radius: 20px;
    min-width: 500px;
    width: 100%;
}

.call-window {
    background-color: rgb(230, 12, 117);
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    display: flex;
    left: 0 !important;
    top: 0 !important;
    flex-direction: column;
}

.call-window__inner {
    background-color: #0a0f18;
    padding: 25px;
    border-radius: 14px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.call-menu {
    position: relative;
}

.call-menu .bi-camera-video,
.call-menu .bi-telephone {
    color: rgb(37, 37, 37);
    font-size: 15px;
    padding: 2px 5px;
    margin: 0;
}

.end-call {
    display: none;
}

.call-notification {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-notification__inner {
    background-color: #21242b;
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.call-notification__inner .caller-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-notification__inner .caller-info .avatar {
    width: 150px;
    height: 150px;
}

.call-notification__inner .caller-info .avatar img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.call-notification__inner .call-btns {
    display: flex;
}

.call-notification-turnoff {
    display: none;
}

.videocall_btn {
    background-color: blueviolet;
    color: aliceblue;
    padding: 5px 12px;
}

.video-options {
    display: flex;
    position: relative;
    justify-content: center;
}

.media-options {
    display: flex;
    align-items: center;
}

.bi-camera-video-off,
.bi-mic-mute,
.bi-camera-video,
.bi-mic {
    margin-right: 10px;
}

.bi-telephone,
.bi-camera-video-off,
.bi-mic-mute,
.bi-camera-video,
.bi-mic {
    padding: 10px;
    cursor: pointer;
    color: #fefdff;
    font-size: 17px;
}

.bi-telephone-x {
    background-color: #e44545;
    color: rgb(205, 205, 205);
    font-size: 18px;
    border-radius: 50%;
    padding: 12px 13px;
}

.bi-telephone-x:hover {
    background-color: #f35151;
}

.media-options .bi-telephone,
.media-options .bi-camera-video-off,
.media-options .bi-mic-mute,
.media-options .bi-camera-video,
.media-options .bi-mic {
    color: rgb(205, 205, 205);
    background-color: #1a1c22;
    border-radius: 50%;
    padding: 12px 13px;
}

.media-options .bi-telephone:hover,
.media-options .bi-camera-video-off:hover,
.media-options .bi-mic-mute:hover,
.media-options .bi-camera-video:hover,
.media-options .bi-mic:hover {
    color: rgb(203, 203, 203);
}

.call-btns .bi-telephone {
    font-size: 20px;
    color: #ffffff;
    background-color: #41bb7a;
    padding: 10px 12px;
    margin-right: 10px;
    border-radius: 8px !important;
}

.call-btns .bi-telephone-x {
    font-size: 20px;
    color: #ffffff;
    background-color: #e44545;
    border-radius: 50%;
    padding: 12px 13px;
}

.call-window__inner .bi-x-circle {
    font-size: 30px;
    position: absolute;
    top: -17px;
    right: -38px;
    cursor: pointer;
}