.call-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99 !important;
}

.left-move {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99 !important;
}

.left-move-position {
    position: absolute;
    bottom: 70px;
    width: fit-content;
    left: 12px;
    background-color: #1e1e25;
    overflow: hidden;
    border-radius: 16px;
    padding-right: 20px;
    box-shadow: 0 4px 4px 0 rgba(81, 83, 130, 0.2), 0 8px 8px 0 rgba(81, 83, 130, .2), 0 16px 16px 0 rgba(81, 83, 130, .2), 0 32px 32px 0 rgba(81, 83, 130, .2), 0 64px 64px 0 rgba(81, 83, 130, .2), 0 128px 128px 0 rgba(81, 83, 130, .2);
}

.precall-inner {
    background-color: #070708;
    padding: 10px;
    border-radius: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 101;
    box-shadow: 0 4px 4px 0 rgba(81, 83, 130, 0.2), 0 8px 8px 0 rgba(81, 83, 130, .2), 0 16px 16px 0 rgba(81, 83, 130, .2), 0 32px 32px 0 rgba(81, 83, 130, .2), 0 64px 64px 0 rgba(81, 83, 130, .2), 0 128px 128px 0 rgba(81, 83, 130, .2);
}

.call-inner {
    background-color: #070708;
    padding: 10px;
    border-radius: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.call-fullscreen {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    border-radius: 0;
}

.call-components {
    width: 100%;
    height: 100%;
    position: relative;
}

.call-components .stream {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.local-stream {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.resized-local-stream {
    width: 170px;
    height: auto;
    position: absolute;
    z-index: 99;
    bottom: 10px;
    right: 10px;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.test-icon2 {
    width: 120px;
    height: 120px;
    background-color: #49c985;
    color: #ccccce;
    z-index: 99999;
    position: absolute;
}

.user-stream {
    width: 100%;
    max-height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.user-stream-full {
    width: 100%;
    max-height: 100%;
    border-radius: 0px;
    object-fit: cover;
}

.call-menu {
    position: relative;
}

.call-menu .bi-camera-video,
.call-menu .bi-telephone {
    color: rgb(37, 37, 37);
    font-size: 15px;
    padding: 2px 5px;
    margin: 0;
}

.end-call {
    display: none;
}

.call-components .notifications {
    z-index: 99;
    height: fit-content;
    display: flex;
}

.call-components .notification-off {
    display: none;
}

.caller-info {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.caller-info .caller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 15px 0 15px 15px;
}

.caller-info .caller .avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    animation: call 1.2s ease infinite;
    position: relative;
}

.caller-info .caller .avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes call {
    15% {
        box-shadow: 0 0 0 2px rgba(54, 161, 104, 0.5);
    }
    25% {
        box-shadow: 0 0 0 4px rgba(54, 161, 104, 0.5), 0 0 0 16px rgba(54, 161, 104, 0.3);
    }
    30% {
        box-shadow: 0 0 0 8px rgba(54, 161, 104, 0.5), 0 0 0 24px rgba(54, 161, 104, 0.3);
    }
}

.caller-info .caller .name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.caller .name .dispayname {
    color: #ccccce;
    font-size: 14px;
}

.caller .name span {
    color: #787986;
    font-size: 11px;
}

.caller-info .call-btns {
    display: flex;
}

.videocall_btn {
    background-color: blueviolet;
    color: aliceblue;
    padding: 5px 12px;
}

.call-components .options {
    display: flex;
    bottom: 15px;
    height: 47px;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    position: absolute;
    z-index: 101;
}

.media-options {
    display: flex;
    align-items: center;
}

.options-hide,
.stream-hide {
    display: none;
}

.bi-camera-video-off,
.bi-mic-mute,
.bi-camera-video,
.bi-mic {
    margin-right: 7px;
}

.bi-camera-video-off,
.bi-mic-mute,
.bi-camera-video,
.bi-mic {
    padding: 10px;
    cursor: pointer;
    color: #fefdff;
    font-size: 17px;
}

.hide-btn {
    display: none;
}

.media-options .bi-camera-video-off,
.media-options .bi-mic-mute,
.media-options .bi-camera-video,
.media-options .bi-mic {
    color: rgb(205, 205, 205);
    background-color: #1a1c22;
    border-radius: 50%;
    /* border: 1px solid #3c3d44; */
    padding: 12px 13px;
}

.drop-call {
    background-color: #dc2626;
    border-radius: 8px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.drop-call:hover {
    background-color: #e42b2b;
}

.drop-call span {
    color: #fefdff;
    font-size: 11px;
}

.drop-call .bi-telephone {
    color: #fefdff;
    font-size: 20px;
    margin-right: 5px;
}

.drop-call .bi-box-arrow-right {
    color: #fefdff;
    font-size: 20px;
    margin-right: 5px;
}

.make-call {
    background-color: #41bb7a;
    margin-right: 7px;
    border-radius: 8px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.make-call:hover {
    background-color: #49c985;
}

.make-call span {
    color: #fefdff;
    font-size: 11px;
}

.make-call .bi-telephone {
    color: #fefdff;
    font-size: 20px;
    margin-right: 5px;
}

.media-options .bi-camera-video-off:hover,
.media-options .bi-mic-mute:hover,
.media-options .bi-camera-video:hover,
.media-options .bi-mic:hover {
    color: rgb(203, 203, 203);
}

.call-btns .bi-telephone {
    background-color: #41bb7a;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    padding: 12px 13px;
    margin-right: 5px;
}

.call-btns .bi-telephone:hover {
    background-color: #4bc885;
}

.call-btns .bi-telephone-x {
    font-size: 20px;
    color: #ffffff;
    background-color: #dc2626;
    border-radius: 50%;
    padding: 12px 13px;
}

.call-btns .bi-telephone-x:hover {
    background-color: #e53030;
}

.videoicon-mute {
    position: absolute;
    color: #ffffff;
    z-index: 99;
}

.videoicon-unmute {
    display: none;
}

.destination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    color: #ccccce;
}

.destination-hide {
    display: none;
}

.destination-info {
    display: flex;
    align-items: center;
}

.destination-info span {
    color: #b2b2b2;
    font-size: 14px;
    margin-right: 7px;
}

.destination-info .recipientinfo {
    color: #f0f0f0;
    font-size: 19px;
}

.fullscreen_btn {
    position: absolute;
    padding: 10px;
    left: 5px;
    top: 5px;
    z-index: 102;
    cursor: pointer;
    transition: all .9s;
    z-index: 999999;
}

.bi-arrows-angle-expand,
.bi-arrows-angle-contract {
    font-size: 20px;
    color: #f0f0f0;
    cursor: pointer;
}

.bi-arrows-angle-expand:hover,
.bi-arrows-angle-contract:hover {
    color: #ffffff;
}

.leave_btn {
    color: #ffffff;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 6px;
    background: rgb(10, 161, 96);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 17px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 26px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 1px;
        height: 34px;
    }
    50%,
    100% {
        top: 7px;
        height: 25px;
    }
}

.arrows-body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: relative;
    width: 14px;
    height: 14px;
    border-top: 3px solid rgb(71, 145, 99);
    border-left: 3px solid rgb(71, 145, 99);
    opacity: .6;
    transform: rotate(135deg);
    animation: arrow-load 2s infinite;
}

.arrow:nth-child(1) {
    left: 7px;
    animation-delay: -0.4s;
}

.arrow:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow:nth-child(3) {
    right: 2px;
}

@keyframes arrow-load {
    0% {
        opacity: 0;
        transform: rotate(135deg) translate(60px, 60px)
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(135deg) translate(-60px, -60px)
    }
}