* {
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.auth {
    display: block;
}

.auth-disabled {
    display: none;
}

.notification {
    display: none;
}

.notification-active {
    display: block;
}


/* 
.main .auth {
    display: flex;
    min-height: 600px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 244, 250, 1) 35%, rgba(242, 244, 250, 1) 100%);

} */

.auth-form__title {
    color: #0b1a21;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: inherit;
}

.main .auth-sidebar {
    background-image: url("../../../assets/portal/login.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 550px;
    max-width: 550px;
    width: 100%;
}

.main .auth-sidebar__info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.auth__notification {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.auth__notification .paperAirplane {
    width: 150px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    z-index: 1;
}

.auth__notification .paperAirplane img {
    width: 100%
}

.paperAirplane-animation-enter {
    position: absolute;
}

.paperAirplane-animation-enter-active {
    transition: all 2000ms ease-in-out;
    position: absolute;
    transform: translate(2000px, -2000px);
    -webkit-transform: translate(2000px, -2000px);
    -o-transform: translate(2000px, -2000px);
    -moz-transform: translate(2000px, -2000px);
}

.back-notification {
    animation: fill .87s ease-in-out;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: hsla(249, 27%, 15%, 1);
    background: linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1E1B2F", endColorstr="#221F38", GradientType=1);
    z-index: 3;
}

@keyframes fill {
    0% {
        transform: translateY(150%) translateX(-150%) scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.auth__notification .completion-registration {
    display: none;
}

.completed {
    display: flex;
    z-index: 3;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}

.completed .title {
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.completed>span {
    color: rgb(247, 247, 247);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.auth-notification {
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.bi-envelope-check {
    color: aliceblue;
    font-size: 95px;
    margin-bottom: 20px;
}

.main .auth-sidebar img {
    width: 100%;
    height: 100%;
}


/* .main .auth-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
} */

.input-icon {
    color: #7f86aa;
    font-size: 16px;
}

.main .auth-form label {
    padding: 5px 0;
    color: #90959e;
    font-size: 13px;
}

.show-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
}

.bi-eye,
.bi-eye-slash {
    color: #90959e;
    font-size: 18px;
}

.input-layer {
    margin: 5px 0;
    position: relative;
}

.main .auth-form input {
    padding: 12px 40px 12px 8px;
    transition: all .5s;
    font-size: 15px;
    width: 100%;
}

.main .auth-form input:hover {}

.main .auth-form__input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 12px;
    background-color: #ffffff;
    color: #0b1a21;
}

.main .validation-error {
    border-bottom: 1px solid #dc4760 !important;
}

.restore-password {
    padding: 15px 0;
}


/* .restore-password a {
    color: #0a1a21;
    transition: all .8s;
} */


/* .restore-password a:hover {
    color: #6b67e9;
} */

.main .auth-form__error {
    color: #dc4760;
    font-size: 11px;
    font-style: inherit;
    padding: 6px 0;
}

.main .form-link {
    text-align: center;
    color: #90959e;
    font-size: 14px;
}

.main .form-link a {
    color: #4687e2;
    transition: all .8s;
    padding-left: 3px;
}

.main .signin {
    display: flex;
    justify-content: center;
    color: #90959e;
}

.main .signin a {
    color: #4687e2;
    margin-left: 7px;
    transition: all .8s;
}

.main .signin a:hover {
    color: #dc4760;
}

@media (max-width: 1100px) {
    .main .auth-sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .main .auth-sidebar {
        display: none;
    }
}