* {
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.auth {
    display: block;
}

.auth-disabled {
    display: none;
}

.notification {
    display: none;
}

.notification-active {
    display: flex;
    justify-content: center;
    align-items: center;
}