.main-form {
    background-color: aquamarine;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.main-form__input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-form__select {
    width: 100%;
    background-color: teal;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.main-form__input input {
    background-color: rgb(255, 0, 55);
    padding: 5px 10px;
}

.main-form__input input:focus {
    background-color: rgb(0, 17, 255);
    padding: 5px 10px;
}


/* Auth form*/

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.main .auth {
    background: #252339;
    display: flex;
    min-height: 600px;
    box-shadow: 0 3px 3px 0 rgba(18, 17, 27, .5), 0 6px 6px 0 rgba(18, 17, 27, .5), 0 12px 12px 0 rgba(18, 17, 27, .5), 0 24px 24px 0 rgba(18, 17, 27, .5), 0 48px 48px 0 rgba(18, 17, 27, .5), 0 96px 96px 0 rgba(18, 17, 27, .5);
}

.auth-form__title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: inherit;
}

.main .auth-sidebar {
    background-image: url("../../assets/portal/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 550px;
    max-width: 550px;
    width: 100%;
}

.main .auth-sidebar {
    background-image: url("../../assets/portal/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 550px;
    max-width: 550px;
    width: 100%;
}

.main .auth-sidebar__info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.auth__notification {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.auth__notification .paperAirplane {
    width: 150px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    z-index: 1;
}

.auth__notification .paperAirplane img {
    width: 100%
}

.paperAirplane-animation-enter {
    position: absolute;
}

.paperAirplane-animation-enter-active {
    transition: all 2000ms ease-in-out;
    position: absolute;
    transform: translate(2000px, -2000px);
    -webkit-transform: translate(2000px, -2000px);
    -o-transform: translate(2000px, -2000px);
    -moz-transform: translate(2000px, -2000px);
}

.back-notification {
    animation: fill .87s ease-in-out;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: hsla(249, 27%, 15%, 1);
    background: linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(249, 27%, 15%, 1) 0%, hsla(247, 29%, 17%, 1) 18%, hsla(248, 29%, 20%, 1) 32%, hsla(320, 64%, 33%, 1) 84%, hsla(320, 67%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1E1B2F", endColorstr="#221F38", GradientType=1);
    z-index: 3;
}

@keyframes fill {
    0% {
        transform: translateY(150%) translateX(-150%) scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.auth__notification .completion-registration {
    display: none;
}

.completed {
    display: flex;
    z-index: 3;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}

.completed .title {
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.completed>span {
    color: rgb(247, 247, 247);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.auth-notification {
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.bi-envelope-check {
    color: aliceblue;
    font-size: 95px;
    margin-bottom: 20px;
}

.main .auth-sidebar img {
    width: 100%;
    height: 100%;
}

.main .auth-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
}

.input-icon {
    color: #90959e;
    font-size: 16px;
}

.main .auth-form label {
    padding: 5px 0;
    color: #90959e;
    font-size: 13px;
}

.show-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
}

.bi-eye,
.bi-eye-slash {
    color: #90959e;
    font-size: 18px;
}

.input-layer {
    margin: 5px 0;
    position: relative;
}

.main .auth-form input {
    background-color: transparent;
    border-bottom: 1px solid #273141;
    padding: 12px 40px 12px 8px;
    transition: all .5s;
    font-size: 15px;
    color: #fff;
    width: 100%;
}

.main .auth-form input:hover {
    border-bottom: 1px solid #4687e2;
}

.main .auth-form__input {
    display: flex;
    align-items: center;
}

.main .validation-error {
    border-bottom: 1px solid #dc4760 !important;
}

.restore-password {
    padding: 15px 0;
}

.restore-password a {
    color: #4687e2;
    transition: all .8s;
}

.restore-password a:hover {
    color: #dc4760;
}

.main .auth-form__error {
    color: #dc4760;
    font-size: 11px;
    font-style: inherit;
    padding: 6px 0;
}

.main .form-link {
    text-align: center;
    color: #90959e;
    font-size: 14px;
}

.main .form-link a {
    color: #4687e2;
    transition: all .8s;
    padding-left: 3px;
}

.main .auth-links {
    display: flex;
    justify-content: center;
    color: #90959e;
}

.main .auth-links a {
    color: #4687e2;
    margin-left: 7px;
    transition: all .8s;
}

.main .auth-links a:hover {
    color: #dc4760;
}

@media (max-width: 1100px) {
    .main .auth-sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .main .auth-sidebar {
        display: none;
    }
}


/* todo form */

.todo-form {
    padding: 30px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 3px 3px 0 rgba(190, 193, 195, .5), 0 6px 6px 0 rgba(190, 193, 195, .5), 0 12px 12px 0 rgba(190, 193, 195, .5), 0 24px 24px 0 rgba(190, 193, 195, .5), 0 48px 48px 0 rgba(190, 193, 195, .5), 0 96px 96px 0 rgba(190, 193, 195, .5);
    width: 400px;
}

.form-error {
    color: #c44661;
    position: relative;
    font-family: inherit;
    font-size: 13px;
    padding: 5px;
    width: fit-content
}

.todo-form textarea {
    border-radius: 20px;
    border: 2px solid #f1f4f7;
    padding: 15px;
    background: #f1f4f7;
    font-size: 13px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #546274;
    margin-top: 10px;
    min-height: 200px;
}

.todo-form__input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #f1f4f7;
    padding: 15px;
    background: #f1f4f7;
    font-size: 13px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #546274;
}

.todo-form__date {
    display: flex;
    align-items: center;
    justify-content: left;
}

.start,
.end {
    display: flex;
    margin-top: 15px;
    align-items: center;
    background-color: #c44661;
}

.start input,
.end input {
    background-color: aqua;
}

.bi-clock,
.bi-clock-history {
    font-size: 21px;
    margin: 0 5px;
}