.form-input,
#typeDevice {
    border: 1px solid rgb(210, 210, 210);
    padding: 12px;
    color: #000;
    font-size: 13px;
    font-family: inherit;
    width: 100%;
    margin: 10px 0;
    transition: all .4s;
}

.form-input:focus {
    border: 1px solid rgb(210, 210, 210);
    padding: 12px;
    transition: all .4s;
}

textarea {
    border: 1px solid rgb(210, 210, 210);
    width: 100%;
    padding: 12px;
}