* {
    font-family: 'Roboto Condensed', sans-serif;
}

.todo-alert,
.messages-alert {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.todo-alert__title {
    padding: 10px 0;
    text-align: center;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-weight: 700;
}

.todo-alert__items {}

.todo-alert__item {
    border-bottom: 1px solid #e8e5ed;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.todo-alert__item:last-child {
    border-bottom: none;
    margin-bottom: 10px;
}

.todo-alert__item .icon {
    color: #dc2626;
    font-size: 17px;
    margin-right: 10px;
}

.todo-alert__item .description {}

.todo-alert__item .title {
    color: #11243e;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    font-family: inherit;
}

.todo-alert__item .time {
    color: #687489;
    font-size: 11px;
    font-family: inherit;
}

.check-todos {
    margin-top: 10px;
    padding: 7px 10px;
    background-color: #e8e5ed;
}

.check-todos a {
    color: #fff;
    font-size: 11px;
    font-family: inherit;
}

.messages-alert__item {
    display: flex;
    margin-bottom: 10px;
}

.messages-alert__item .avatar {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.messages-alert__item .avatar img {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 100%;
}

.messages-alert__item .message {}