/*Submit button*/

.submit-btn {
    padding: 14px 17px;
    background-color: #6b67e9;
    color: aliceblue;
    transition: all .5s;
    margin: 20px 0;
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #d639e1;
}

.submit-btn-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 21px;
    /* background: #524899;
    background: linear-gradient(146deg, rgb(71, 63, 136) 0%, rgb(102, 63, 139) 100%); */
    background: #6c6be6;
    border-radius: 4px;
    color: #f0eaf0;
    transition: all .5s;
    font-size: 11px;
}

.submit-btn-medium:hover {
    background: #26bea6;
}

.submit-btn-small {
    padding: 8px 14px;
    background-color: #4c4bb1;
    color: aliceblue;
    transition: all .5s;
    margin: 20px 0;
    font-size: 12px;
}

.submit-btn-small:hover {
    background-color: #d639e1;
}


/*Add button*/

.add-todo-btn {
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 8px;
    border-radius: 6px;
    background: #4c4bb1;
    color: #f6feff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 10px;
    transition: all .7s ease-out;
}

.add-todo-btn:hover {
    background: #26bea6;
    color: #f6feff;
}

.bi-plus {
    font-size: 20px;
}