/*Submit button*/

.submit-btn {
    padding: 14px 17px;
    background: #2144ac;
    color: aliceblue;
    transition: all .5s;
    margin: 20px 0;
    font-size: 14px;
    border-radius: 5px;
}

.submit-btn:hover {
    background: #43d294;
}

.submit-btn-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 21px;
    background: #2144ac;
    border-radius: 4px;
    color: #ffffff;
    transition: all .5s;
    font-size: 11px;
}

.submit-btn-medium:hover {
    background: #43d294;
}

.submit-btn-medium a {
    color: #fff;
}

.submit-btn-small {
    padding: 12px 21px;
    background: #2144ac;
    color: aliceblue;
    transition: all .5s;
    margin: 20px 0;
    font-size: 12px;
    border-radius: 5px;
}

.submit-btn-small:hover {
    background: #43d294;
}


/*Add button*/

.add-todo-btn {
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 8px;
    border-radius: 6px;
    color: #f6feff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 10px;
    transition: all .7s ease-out;
    background: #665ff1;
    box-shadow: #2144ac 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.add-todo-btn:hover {
    background: #26bea6;
    box-shadow: #21ac85 0 10px 20px -10px;
    color: #f6feff;
}

.bi-plus {
    font-size: 20px;
}