.profile {
    display: flex;
    justify-content: center;
    max-width: 1900px;
    width: 100%;
    overflow: hidden;
}

.profile__main-info {
    width: 50%;
    padding: 20px;
}

.profile__additional-info {
    width: 50%;
    padding: 20px;
}

.profile__image {
    text-align: center;
    padding: 10px 0 40px;
}

.profile__image img {
    width: 100%;
    max-width: 450px;
}

.profile__additional-info textarea {
    min-height: 150px;
}