.profile {
    display: flex;
    justify-content: center;
    max-width: 1900px;
    width: 100%;
    overflow: hidden;
}

.profile .ext-info {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 5px 5px -5px rgb(99 108 126 / 30%);
}

.profile .form {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 5px 5px -5px rgb(99 108 126 / 30%);
    margin-right: 20px;
    margin-bottom: 10px;
}

.profile__main-info {
    width: 50%;
    padding: 20px;
}

.profile__additional-info {
    width: 50%;
    padding: 20px;
}

.profile__image {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}

.profile__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile__main-info textarea {
    height: 100px;
}

.roles {
    height: fit-content;
    padding: 10px;
}

.profile .ext-info__title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1e293b;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
}

.profile-menu {
    top: 43px;
    position: absolute;
    right: 0px;
}

.profile-menu-disabled {
    display: none;
}

.hidden-btn {
    opacity: 0;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}