.messenger {
    display: flex;
    background-color: darkolivegreen;
}

.messenger .left-main {
    width: 300px;
    height: 90vh;
    background-color: blanchedalmond;
    padding: 15px;
    position: relative;
}

.messenger .right-main {
    width: 100%;
    background-color: dimgray;
    padding: 20px;
}

.left-main__top {
    background-color: darkolivegreen;
}

.left-main__top .menu {
    height: 50px;
    background-color: rgb(140, 112, 148);
    width: 100%;
}

.left-main__top .search {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 136, 218);
    width: 100%;
}

.left-main__top .search input {
    height: 40px;
    padding: 5px 15px 5px 25px;
    background-color: rgb(64, 165, 131);
    width: 100%;
}

.left-main__middle {
    background-color: lightgray;
}

.left-main__middle .chat {
    background-color: moccasin;
}

.left-main__middle .contacts {
    background-color: lightsalmon;
}

.contacts .contacts__items {}

.contacts .contacts__item {
    background-color: rgb(241, 125, 229);
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contacts .contacts__item .contact__name {
    font-size: 18px;
}

.contacts .contacts__item .contact__email {
    font-size: 12px;
}

.left-main__bottom {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

.left-main__bottom .add {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(41, 207, 22);
}

.switch-disable {
    display: none;
}

.chats .chats__items {
    background-color: burlywood;
}

.chats .chats__item {
    background-color: rgb(136, 138, 175);
    padding: 7px 9px;
    margin-bottom: 10px;
    cursor: pointer;
}

.chats .active__chat {
    background-color: brown;
    padding: 7px 9px;
}

.chats .chats__item .active {
    background-color: rgb(94, 171, 70);
}

.messages {
    background-color: darkcyan;
    height: 80vh;
    position: relative;
}

.messages .messages__items {}

.messages textarea {
    background-color: rgb(216, 216, 216);
    width: 100%;
    min-height: 120px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #b8b8b8;
}

.messages .messages__input {
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    display: flex;
    bottom: 20px;
    flex-direction: column;
}

.messages .send-btn {
    background-color: blue;
    width: fit-content;
    padding: 7px 12px;
    right: 20px;
    color: aliceblue;
    align-self: flex-end;
}