.messenger {
    display: flex;
    background-color: darkolivegreen;
}

.messenger__chats {
    height: 100vh;
    width: 250px;
    background-color: blanchedalmond;
    padding: 15px;
}

.messenger__messages {
    height: 100vh;
    width: 100%;
    background-color: dimgray;
    padding: 20px;
}