.auth-notification {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.auth-notification__title {
    font-size: 25px;
    font-weight: bold;
    color: blueviolet;
}

.auth-notification__content {
    color: darkmagenta;
}