.auth-notification {
    background: #fff;
    box-shadow: rgba(27, 55, 139, 0.8) 0px 50px 100px -20px, rgba(27, 55, 139, 0.6) 0px 30px 60px -30px;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.auth-notification__title {
    font-size: 21px;
    font-weight: bold;
    color: #1e293b;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.auth-notification__content {
    color: #1e293b;
}