.auth-notification {
    background: #252339;
    box-shadow: 0 1px 1px 0 rgba(18, 17, 27, .5), 0 2px 2px 0 rgba(18, 17, 27, .5), 0 6px 6px 0 rgba(18, 17, 27, .5), 0 12px 12px 0 rgba(18, 17, 27, .5), 0 24px 24px 0 rgba(18, 17, 27, .5), 0 48px 48px 0 rgba(18, 17, 27, .5);
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.auth-notification__title {
    font-size: 21px;
    font-weight: bold;
    color: rgb(235, 235, 235);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.auth-notification__content {
    color: rgb(174, 174, 174);
}