.device-list {}

.device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 5px 5px -5px rgba(99, 108, 126, 0.3);
}

.devices-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d77cbc;
}

.devices-title>span {
    width: 20%;
}

.device>span {
    width: 100%;
    text-align: center;
    color: #626284;
}

.delete-btn {
    padding: 9px 12px;
    background-color: transparent;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 800;
    color: #7f86aa;
    transition: all .7s;
}

.delete-btn:hover {
    color: #da3851;
}

.update-btn {
    padding: 9px 12px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 800;
    color: #7f86aa;
    margin-left: 5px;
    border-radius: 2px;
    transition: all .7s;
}

.update-btn:hover {
    color: #6b67e9;
}

.add-device-form {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px 15px;
}

.devices-list {
    padding: 15px 30px 30px;
    width: 100%;
}

.add-device-block {
    width: 330px;
    height: fit-content;
    padding: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 244, 250, 1) 35%, rgba(242, 244, 250, 1) 100%);
    box-shadow: 0 5px 5px 0 rgba(196, 190, 221, 0.4), 0 10px 10px 0 rgba(196, 190, 221, .4), 0 20px 20px 0 rgba(196, 190, 221, .4), 0 40px 40px 0 rgba(196, 190, 221, .4), 0 80px 80px 0 rgba(196, 190, 221, .4), 0 160px 160px 0 rgba(196, 190, 221, .4);
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    margin: 5% 0 0 20px;
    border-radius: 12px;
    top: 78px;
}

.add-device {
    background-color: #fff;
    padding: 20px;
}

.devices-category {
    width: 120px;
    height: fit-content;
    padding: 5px;
    background-color: #fff;
    /* box-shadow: 0 4px 4px 0 rgba(195, 195, 209, .2), 0 8px 8px 0 rgba(195, 195, 209, .2), 0 16px 16px 0 rgba(195, 195, 209, .2), 0 32px 32px 0 rgba(195, 195, 209, .2), 0 64px 64px 0 rgba(195, 195, 209, .2), 0 128px 128px 0 rgba(195, 195, 209, .2); */
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    margin: 2% 15px 0 0px;
    border-radius: 12px;
    top: 78px;
}

.category-menu {
    padding: 10px;
}

.category-menu__item {
    background: rgb(251, 251, 253);
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #545475;
    font-size: 11px;
    margin-bottom: 11px;
    border-radius: 13px;
}

.category-menu__item:hover,
.category-menu__item.active {
    background-color: #6c6be6;
    box-shadow: 0 0 10px 5px rgba(71, 85, 237, 0.3);
    color: #ffffff;
}

.category-menu__item i {
    color: #6c6be6;
    font-size: 20px;
    padding-top: 7px;
}

.category-menu__item.active.category-menu__item i,
.category-menu__item:hover.category-menu__item i {
    color: #ffffff;
}