.devices-table {
    border-collapse: collapse;
    font-family: sans-serif;
    color: #222529;
    font-size: 12px;
    width: 100%;
}

.devices-table td,
.devices-table th {
    border: 1px solid #ebedf1;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    text-align: center;
}

.devices-table tr:nth-child(even) {
    background-color: #f5f6fb;
}

.devices-table tr:hover {
    background-color: rgb(240, 240, 240);
}

.devices-table th {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7c7fd7;
    color: #fff;
}

.add-device-form {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px 15px;
}

.devices-list {
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
    border: 1px solid #f3f5f6;
    padding: 15px 30px 30px;
    border-radius: 6px;
    width: 100%;
}

.add-device-block {
    width: 330px;
    height: fit-content;
    padding: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 244, 250, 1) 35%, rgba(242, 244, 250, 1) 100%);
    box-shadow: 0 5px 5px 0 rgba(196, 190, 221, 0.4), 0 10px 10px 0 rgba(196, 190, 221, .4), 0 20px 20px 0 rgba(196, 190, 221, .4), 0 40px 40px 0 rgba(196, 190, 221, .4), 0 80px 80px 0 rgba(196, 190, 221, .4), 0 160px 160px 0 rgba(196, 190, 221, .4);
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    margin: 5% 0 0 20px;
    border-radius: 12px;
    top: 78px;
}

.add-device {
    background-color: #fff;
    padding: 20px;
}

.devices-category {
    width: 120px;
    height: fit-content;
    padding: 5px;
    box-shadow: 0 4px 4px 0 rgba(195, 195, 209, .2), 0 8px 8px 0 rgba(195, 195, 209, .2), 0 16px 16px 0 rgba(195, 195, 209, .2), 0 32px 32px 0 rgba(195, 195, 209, .2), 0 64px 64px 0 rgba(195, 195, 209, .2), 0 128px 128px 0 rgba(195, 195, 209, .2);
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    margin: 2% 15px 0 0px;
    border-radius: 12px;
    top: 78px;
}

.category-menu {
    padding: 10px;
}

.category-menu__item {
    background-color: #eceff8;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #545475;
    font-size: 11px;
    margin-bottom: 10px;
}

.category-menu__item:hover {
    background-color: #52469c;
    color: #88e9f3;
}

.category-menu__item.active {
    background-color: #52469c;
    color: #88e9f3;
}

.category-menu__item i {
    color: #366edf;
    font-size: 20px;
    padding-top: 7px;
}

.category-menu__item.active.category-menu__item i,
.category-menu__item:hover.category-menu__item i {
    color: #88e9f3;
}