/* 6059c3
de498a
52b5f9 */

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.title {
    font-size: 21px;
    text-transform: uppercase;
    color: #0A2540;
    margin: 10px 0;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -.5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.add-btn {
    padding: 9px 12px;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #7a7fdc;
    border-color: #7a7fdc;
    font-family: inherit;
    border-radius: 5px;
    font-size: 11px;
    color: #fff;
    transition: all .7s ease-in;
}

.add-btn:disabled {
    cursor: not-allowed;
}

.add-btn:hover {
    background: #2acab2;
}

.delete-btn {
    padding: 9px 12px;
    background-color: transparent;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 800;
    color: #5b626b;
    transition: all .7s;
}

.delete-btn:hover {}

.update-btn {
    padding: 9px 12px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 800;
    color: #5b626b;
    margin-left: 5px;
    border-radius: 2px;
    transition: all .7s;
}

.update-btn:hover {}

.devices-table {
    border-collapse: collapse;
    font-family: sans-serif;
    color: #222529;
    font-size: 12px;
    width: 100%;
}

.devices-table td,
.devices-table th {
    border: 1px solid #ebedf1;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    text-align: center;
}

.devices-table tr:nth-child(even) {
    background-color: #f5f6fb;
}

.devices-table tr:hover {
    background-color: rgb(240, 240, 240);
}

.devices-table th {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7c7fd7;
    color: #fff;
}

.add-device-form {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px 15px;
}


/*--------------------*/

.bi-search {
    color: #fff;
    font-size: 15px;
}

.App {
    width: 100%;
    /* background: #e5e7f1; */
    background: #f7f9fc;
    display: flex;
}

.App-out {
    width: 100%;
    background: #252339;
    background-image: url("../assets/portal/bg-login.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.afterlogin {
    width: 100%;
    background: #e5e7f1;
    display: flex;
}

.menu-container {}

.content-wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin-left: 70px;
    transition: .5s ease-in-out;
}

.content-wrapper.slided-content {
    min-height: 100vh;
    width: 100%;
    margin-left: 210px;
    transition: .5s ease-in-out;
}

.content-container {
    padding: 20px;
    width: 100%;
    max-width: 2500px;
    margin: 65px auto;
    /* margin-top: 65px; */
}

.content-container__inner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.devices-list {
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
    border: 1px solid #f3f5f6;
    padding: 15px 30px 30px;
    border-radius: 6px;
    width: 100%;
}

.add-device-block {
    width: 330px;
    height: fit-content;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(195, 195, 209, .2), 0 8px 8px 0 rgba(195, 195, 209, .2), 0 16px 16px 0 rgba(195, 195, 209, .2), 0 32px 32px 0 rgba(195, 195, 209, .2), 0 64px 64px 0 rgba(195, 195, 209, .2), 0 128px 128px 0 rgba(195, 195, 209, .2);
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    margin: 5% 0 0 20px;
    border-radius: 12px;
    top: 78px;
}

.add-device {
    background-color: #fff;
    padding: 20px;
}

.block-content {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
    border: 1px solid #f3f5f6;
    border-radius: 8px;
    max-width: 700px;
}

.wrapper {}

.row {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.col-s {
    width: 24%;
    flex: 24%;
}

.col-m {
    width: 32%;
    flex: 32%;
}

.col-l {
    width: 49%;
    flex: 49%;
}

.col-s:not(:first-child) {
    margin-left: 20px;
}

.col-m:not(:first-child) {
    margin-left: 20px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .col-s,
    .col-m {
        width: 49%;
        flex: 49%;
        background-color: rgb(129, 4, 106);
    }
}

@media (min-width: 1200px) {}

@media (max-width: 1620px) {
    .col-s {
        width: 24%;
        flex: 24%;
        background-color: rgb(4, 100, 129);
    }
    .col-m {
        width: 49%;
        flex: 49%;
        background-color: rgb(129, 4, 71);
    }
}